################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tccc2019.ApiBooster/obj
/Tccc2019.ApiBooster/bin
